.book-item .book-title {
  font-weight: bold;
}

.book-item .book-price {
  font-weight: bold;
  color: #ff6b6b;
}

.book-item .book-currency {
  font-weight: bold;
}

.book-item {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: inherit;
}

.book {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book:hover {
  background-color: #b9b9b9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#bookListContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

#bookList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #e0e0e0;
  font-weight: bold;
  border-radius: 8px;
  max-height: 600px;
  overflow-y: auto;
  width: 30%;
  flex-shrink: 0;
  border-style: solid;
  border-width: 2px;
}

#bookInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #e0e0e0;
  font-weight: bold;
  border-radius: 8px;
  width: 70%;
  flex-grow: 1;
  border-style: solid;
  border-width: 2px;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.6;
}

#info span {
  word-wrap: break-word;
}
